
body {
	width: 100wh;
	height: 150vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



.table {
    position: relative;
    bottom: -200px;
    left: 700px;
    display: flex;
    width: 1000px;
    flex-wrap:wrap;
    
}

.box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box1i, .box2i, .box3i, .box4i, .box5i, .box6i, .box7i, .box8i, .box9i {
    background-color: red;
    width: 200px;
    height: 200px;
    border: solid white;
    margin: 10px;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    transform: rotateY(0deg);
    -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    
    
}



@keyframes flip {
    from {background-color: red; transform: rotateY(0deg);}
    to {background-color: yellow; transform: rotateY(180deg);}
}

h1 {
    margin-top: 60px;
    margin-left: 75px;
    font-size: 60px;
}
    
  




